{{ 'component-product-trust-box.css' | asset_url | stylesheet_tag }}

<div class="product-trust-box">

  <p class="delivery-time">זמן אספקה: 7 ימים</p>

  <h3>חומרי יצירה קונים במעיין היצירה:</h3>

  <ul>
    <li>מוצרים מעולים ♥ מחירים הוגנים</li>
    <li>ליווי ויחס אישי בטלפון ובווטצאפ ♥ מוזמנים להתייעץ</li>
    <li>משלוח מהיר ובחינם בכל קנייה מעל 400 ש"ח ועד הבית/משרד</li>
  </ul>

  <div class="product-whatsapp-box">
  <a href="https://wa.me/97289950131?text=שלום, אני מתעניין במוצר {{ product.title }}" 
     target="_blank" 
     rel="noopener" 
     class="whatsapp-btn">
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="whatsapp-icon">
      <path d="M16 0C7.2 0 0 7.2 0 16c0 2.8.7 5.4 2 7.7L0 32l8.5-2.2c2.2 1.2 4.7 1.9 7.5 1.9 8.8 0 16-7.2 16-16S24.8 0 16 0zm0 29.3c-2.5 0-4.9-.7-7-1.9l-.5-.3-5 1.3 1.3-4.8-.3-.5C3.3 21 2.7 18.6 2.7 16 2.7 8.9 8.9 2.7 16 2.7S29.3 8.9 29.3 16 23.1 29.3 16 29.3zm7.2-9.9c-.4-.2-2.4-1.2-2.8-1.3-.4-.2-.7-.2-1 .2-.3.4-1.1 1.3-1.4 1.5-.3.2-.5.2-.9 0-.4-.2-1.7-.6-3.2-2-1.2-1.1-2-2.4-2.2-2.8-.2-.4 0-.6.2-.8.2-.2.4-.5.6-.7.2-.2.3-.4.5-.7.2-.3.1-.5 0-.7-.1-.2-1-2.4-1.4-3.3-.3-.8-.6-.7-1-.7h-.9c-.3 0-.7.1-1 .5-.3.4-1.4 1.4-1.4 3.3s1.5 3.8 1.7 4.1c.2.3 3 4.5 7.2 6.3 1 .4 1.8.7 2.4.9 1 .3 1.9.3 2.6.2.8-.1 2.4-1 2.7-1.9.3-.9.3-1.7.2-1.9-.1-.2-.4-.3-.8-.5z"/>
    </svg>

   <span>שאלי אותנו על מוצר זה ב WhatsApp</span>
  </a>
</div>

</div>